<html>
    <head>
        <title>LitRevu</title>
    </head>
    <body>
        <h1 style="text-align: center;">LitRevu</h1>
        {% if user.is_authenticated %}
            <nav>
                <ul style="display: flex; justify-content: center; list-style: none; padding: 0;">
                    <li style="margin-right: 15px;"><a href="{% url 'flux' %}">Flux</a></li>
                    <li style="margin-right: 15px;"><a href="{% url 'post' %}">Post</a></li>
                    <li style="margin-right: 15px;"><a href="{% url 'abonnement' %}">Abonnement</a></li>
                    <li>{{ request.user }} - 
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; color: blue; cursor: pointer; text-decoration: underline;">Se déconnecter</button>
                        </form>
                    </li>
                </ul>
            </nav>
        {% endif %}
        {% block content %}{% endblock content %}
        
    </body>
</html>